
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
skeleton/public/bundles/
skeleton/var/
skeleton/vendor/
###< symfony/framework-bundle ###

###> squizlabs/php_codesniffer ###
/.phpcs-cache
/phpcs.xml
###< squizlabs/php_codesniffer ###

### PHP STORM ####
.idea

##### DB ACTUAL DATA ####
docker/db/data
